.idea/

learning_log/learning_log/__pycache__
learning_log/learning_logs/__pycache__
learning_log/users/__pycache__
learning_log/users/migrations/__pycache__
learning_log/learning_log/secret.txt
*.sqlite3